<!DOCTYPE html>
<html>
    <head>
        <title>{{ product_name }}</title>

        <meta name="description" content="A project-independent tool for creating regular project reports and assisting interesting statistical analysis." />
        <meta name="keywords" content="enzyme, digest, open source, report, KDE" />
        <meta name="viewport" content="width=device-width" />
        <meta name="google-site-verification" content="beTdAhx0raFrnhbZNxbSm063fSA6hDg5m81DHc9exU0" />

    {% if config.TESTING %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', subdomain='s0') }}" />
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/min/all.css', subdomain='s0') }}" />
    {% endif %}
    </head>

    <body>
        {% block header %}{% endblock header %}

        {% block content %}{% endblock content %}

        {% block footer %}{% endblock footer %}

    {% if config.TESTING %}
        <script src="{{ url_for('static', filename='js/shadowbox.js', subdomain='s1') }}"></script>
        <script src="{{ url_for('static', filename='js/base.js', subdomain='s1') }}"></script>
    {% else %}
        <script src="{{ url_for('static', filename='js/min/all.js', subdomain='s1') }}"></script>
    {% endif %}

    {% if not config.TESTING %}
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-46299859-2', 'enzyme-project.org');
              ga('send', 'pageview');
        </script>
    {% endif %}

    {% if config.TESTING %}
        <div class="screen">
            <span class="screen_tiny">screen_tiny</span>
            <span class="screen_mini">screen_mini</span>
            <span class="screen_mobile">screen_mobile</span>
            <span class="screen_small">screen_small</span>
            <span class="screen_medium">screen_medium</span>
            <span class="screen_large">screen_large</span>
        </div>
    {% endif %}
    </body>
</html>