@require "nib"
@require "./reset.styl"
@require "./variables.styl"


@font-face {
    font-family 'Open Sans'
    font-style normal
    font-weight 400
    src local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')
}
@font-face {
    font-family 'Open Sans'
    font-style normal
    font-weight 700
    src local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff')
}
@font-face {
    font-family 'Open Sans'
    font-style italic
    font-weight 400
    src local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff')
}




body {
    background-color #f8f8f9
    font-family 'Open Sans', sans-serif
    margin 0
    font-size 1.1em
    line-height 1.4em
}



div.container {
    padding 2em

    article {
        margin 3em 0 0 0

        &.hero {
            max-width 50%
            margin-top 1em
            padding 0 0 2em 0
            border-bottom 1px solid #E6E6E6

            @media screen_small {
                margin-top 0
                max-width inherit
            }

            ul {
                padding 0 0 1em 2em
                list-style disc

                li {
                    margin-bottom 1em
                }
            }
        }
    }
}




h1, h2, h3 {
    font-weight bold
    line-height 1em
    margin 0
}
h1 {
    font-size 2.5em
    margin 0 0 0.5em -0.05em
}
h2 {
    font-size 1.5em
}


p {
    margin 1em 0
}

b {
    font-weight bold
}

i {
    font-style italic
}




section {
    margin 1em

    @media screen_mobile {
        margin-left 0
        margin-right 0
    }

    ul {
        list-style square
        margin 0 0 0 1em
        padding 0
        line-height 1.5em
    }
}




header,
footer {
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    box-sizing border-box
}




header {
    position relative
    top 0
    padding 8px
    background-color colour_black

    @media screen_mobile {
        padding 0
        text-align center
    }

    a.logo {
        display block
        width 214px
        height 38px
        cursor pointer

        @media screen_mobile {
            display inline-block
            margin 1em 0
            width 321px
            height 57px
        }

        svg {
            width 100%
            height 100%
            opacity 0.8

            &:hover {
                opacity 1
            }
        }
    }

    nav ul {
        position absolute
        right 0
        top 0
        padding 0
        margin 0
        list-style none

        @media screen_mobile {
            position relative
        }

        li {
            display inline-block

            a {
                display inline-block
                margin-left -5px
                padding 15px 20px
                height 54px
                text-transform uppercase

                color #A9A39C
                text-decoration none

                -webkit-box-sizing border-box
                -moz-box-sizing border-box
                box-sizing border-box

                &:hover {
                    color colour_white
                    background-color #5B628F
                }
            }
        }
    }
}




article a[href] {
    color colour_black
    text-decoration none
    padding-bottom -1px
    border-bottom 1px dotted colour_black

    &:hover {
        border-bottom-style solid
    }
}




aside#commits {
    position absolute
    top 6.75em
    padding 1em
    right 3.5em
    max-width 30%

    background rgba(0, 0, 0, 0.8)
    color #e6e6e6
    border-radius 0.5em

    @media screen_small {
        position relative
        top 0
        right 0
        max-width inherit
    }

    h2 {
        font-weight bold

        a {
            color colour_white
            text-decoration none
            padding-bottom -1px
            border-bottom 1px dotted colour_white

            &:hover {
                border-bottom-style solid
            }

            span {
                display inline-block
                position absolute
                top 19px
                right 16px

                @media screen_mini {
                    display none
                }
                @media screen_medium_only {
                    display none
                }
                @media screen_large_only {
                    display none
                }

                svg {
                    fill colour_white
                }

                i {
                    display none
                }
            }
        }
    }

    ul {
        list-style none
        padding 0
        margin 1em 0 0 0
        border-top 2px solid #e6e6e6
        border-bottom 2px solid #e6e6e6
        max-height 270px
        overflow-y auto
        padding-right 22px

        li {
            padding 1em 0
            border-bottom 2px dotted #e6e6e6

            &:last-child {
                border-bottom none
            }
        }

        a {
            color #e6e6e6
            text-decoration none
        }

        .message {
            font-size 0.95em
            margin-right 1em
        }

        .date {
            font-size 0.8em
        }
    }
}




footer {
    padding 10px
    background colour_black

    @media screen_medium {
        text-align center
    }

    p {
        display inline-block
        padding 0
        margin 0
        font-size 1em
        color colour_white

        @media screen_medium {
            display block
        }

        &.licence {
            float right

            @media screen_medium {
                margin-top 1em
                float none
            }
        }

        a {
            color colour_white
            text-decoration none
            padding-bottom -1px
            border-bottom 1px dotted colour_white

            &:hover {
                border-bottom-style solid
            }
        }
    }
}




.l-screenshots {
    h2 {
        span {
            display inline-block
            margin-left 0.25em
            font-style italic
            font-weight normal
            font-size 0.6em
            color #999999
        }
    }

    ul {
        list-style none
        margin 0
        line-height 0

        li {
            display inline-block
            width 320px
            margin 0 1em 0 0
            vertical-align top

            h3 {
                display block
                margin 0 0 0.3em 0
                font-size 1.2em
            }

            p {
                display block
                line-height 1.2em
                margin 0 0 2em 0
            }

            a {
                display block
                padding 0.5em
                margin 0 0 1em 0
                border 1px solid #e6e6e6

                img {
                    border 1px solid #cccccc
                }

                &:hover {
                    background-color colour_white
                    border 1px solid #cccccc

                    img {
                        border 1px solid #999999
                    }
                }
            }
        }
    }
}




/*lightbox*/
#sb-title-inner,
#sb-info-inner,
#sb-loading-inner {
    font-family "HelveticaNeue-Light","Helvetica Neue",Helvetica,Arial,sans-serif
    font-weight 200
    color #fff
}
#sb-container {
    position fixed
    margin 0
    padding 0
    top 0
    left 0
    z-index 999
    text-align left
    visibility hidden
    display none
}
#sb-overlay {
    position relative
    height 100%
    width 100%
}
#sb-wrapper {
    position absolute
    visibility hidden
    width 100px
}
#sb-wrapper-inner {
    position relative
    border 1px solid #303030
    overflow hidden
    height 100px
}
#sb-body {
    position relative
    height 100%
}
#sb-body-inner {
    position absolute
    height 100%
    width 100%
}
#sb-body img {
    border none
}
#sb-loading {
    position relative
    height 100%
}
#sb-loading-inner {
    position absolute
    font-size 14px
    line-height 24px
    height 24px
    top 50%
    margin-top -12px
    width 100%
    text-align center
}
#sb-loading-inner span {
    background url(/static/img/loading.gif) no-repeat
    padding-left 34px
    display inline-block
}
#sb-body,
#sb-loading {
    background-color #060606
}
#sb-title,
#sb-info {
    position relative
    margin 0
    padding 0
    overflow hidden
}
#sb-title,
#sb-title-inner {
    height 26px
    line-height 26px
}
#sb-title-inner {
    font-size 16px
}
#sb-info,
#sb-info-inner {
    height 20px
    line-height 20px
}
#sb-info-inner {
    font-size 12px
}
#sb-nav {
    float right
    height 16px
    padding 2px 0
    width 45%
}
#sb-nav a {
    display block
    float right
    height 16px
    width 16px
    margin-left 3px
    cursor pointer
    background-repeat no-repeat
}
#sb-nav-close {
    background-image url(/static/img/close.png)
}
#sb-nav-next {
    background-image url(/static/img/next.png)
}
#sb-nav-previous {
    background-image url(/static/img/previous.png)
}
#sb-nav-play {
    background-image url(/static/img/play.png)
}
#sb-nav-pause {
    background-image url(/static/img/pause.png)
}
#sb-counter {
    float left
    width 45%
}




@require "./testing.styl"